@import './../../scss/settings';

.header {
  background-color: $header-bg-color;
  height: rem-calc(150);

  &__logo {
    padding: 10px 0;
    img {
      width: rem-calc(200);
    }
  }
}
